/* FUENTES */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/iconos/icomoon.eot?-23su1d');
  src:url('../fonts/iconos/icomoon.eot?#iefix-23su1d') format('embedded-opentype'),
    url('../fonts/iconos/icomoon.woff?-23su1d') format('woff'),
    url('../fonts/iconos/icomoon.ttf?-23su1d') format('truetype'),
    url('../fonts/iconos/icomoon.svg?-23su1d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fotos:before {
  content: "\e600";
  margin-right: 7%;
}
.icon-musica:before {
  content: "\e601";
  margin-right: 7%;
  position: relative;
  top:.1em;
}
.icon-video:before {
  content: "\e602";
  margin-right: 7%;
  position: relative;
  top:.1em;
}
.icon-menu:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
  margin-right: 3%;
  position: relative;
  top:.1em;
}
.icon-twitter:before {
  content: "\e605";
  margin-right: 3%;
  position: relative;
  top:.1em;
}
.icon-youtube:before {
  content: "\e606";
  margin-right: 3%;
  position: relative;
  top:.1em;
}
/* TERMINAN LAS FUENTES */
a{
  color:rgba(0,53,108,1);
  text-decoration: none;
}
body{
  background: rgba(234,234,224,1);
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}
header{
  font-size: 1.2rem;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 800px){

header > .logo{
  width: 5%;
  left: 0;
  position: absolute;
  top: 0;
  float: left;

}
}
header > nav{
  width:100%;

}
header > nav > ul > li, header > nav > ul > li{
  display: inline-block;
}
header > nav > ul > li{
  list-style: none;
  margin: 0 5% 0 0; 
}
header > nav > ul > li > a{
  display: block;
  padding: 0.5em 0;
}
nav.movil{
  display: none;
}
footer{
  background: rgba(5,56,105,1);
  color: rgba(193,193,193,1);
  position: relative;
  overflow: hidden;
  text-align: center;
}
footer .logo{
  margin-bottom:0; 
}
footer .icons a{
  color: #c1c1c1;
  font-size: 1.5rem;
  margin-right: .5rem;
}
footer .fbrd{
  margin: 0 0 0 3%;
}
footer p{
  margin-top: 0;
}
footer p:before{
  content: "© ";
}
.logo > img{
  height: 50px;
  width: 200px;
}
#content{
  position: relative;
  overflow: hidden;
  margin:0 10%; 
  max-width: 1366px;
}
#content .imagen_con_informacion{
  overflow: hidden;  
}
#content .imagen_con_informacion .imagen_info{
  background: url(../sources/images/cabezera/cabezera.jpg) no-repeat;
  background-size: cover;
  float: left;
  height: 350px;
  margin: 0 0 0 10%;
  position: relative;
  width: 50%;
}
#content .imagen_con_informacion .info_imagen{
  background:rgba(243,242,234,1);
  border-bottom: rgba(67,200,200,0) solid 3px;
  float: right;
  height: 350px;
  right: 100em;
  text-align: center;
  top :0;
  width: 40%;
}
#content .imagen_con_informacion .info_imagen p:first-child{
  color: rgba(67,200,200,1);
}
#content .imagen_con_informacion .info_imagen h1{
  color: rgba(135, 147, 153, 0.76);
  font-size: 1.2em;
  padding: .5em;
}
#content .imagen_con_informacion .info_imagen p:first-child{

}
#content .redes_sociales_info{
  background: rgba(5,56,105,1);
  float: left;
  font-size: 1rem;
  height: 500px;
  margin: 0 0 0 10%;
  padding: .5em;
  width: 23%;
}
#content .redes_sociales_info a{
  color: rgba(193,193,193,1);
  display: block;
  margin-bottom: 1em;
}
#content .redes_sociales_info .red{ 
  border-bottom: rgba(243,242,234,1) solid 3px;
  padding: 0 0 5px 0;
}
#content .redes_sociales_info p{
  color: rgba(243,242,234,.5);
  padding: 1rem;
}
#content .descripcion_tokio {
  background: rgba(209, 211, 226, 1);
  float: left;
  height: 500px;
  padding: .5em;
  text-align: center;
  vertical-align: top;
  width: 64%;
}
#content .descripcion_tokio .image_descripcion img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
/* Triangulos */
.triangulo_izq {
    border-top: 20px solid transparent;
    border-right: 15px solid rgba(243,242,234,1);
    border-bottom: 20px solid transparent;
    height: 0;
    position: absolute;
    right: 0;
    top: 20px;
    width: 0;
}
.triangulo_bajo {
    border-bottom: 15px solid rgba(243,242,234,1);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    position: absolute;
    right: 45%;
    top: 96.6%;;
    width: 0;
}
@media screen and (max-width:800px){
  header{
    overflow: hidden;
  }
  nav.movil{
    display: block;
    float: right;
    left: 0;
    top:0;
    width: 100%;

  }
  nav.movil ul{
    margin: 0;
  }
  nav.movil ul li ul li{
    list-style: none;
    margin: 0 5% 0 0;
  }
  .logo{
    display: block;
    float: none;
    width:100%;
    margin: 0;
  }
  .logo img{
    margin: 0 0 0 10%;
  }
  #content{
    display: block;
    width: 100%;
    margin: 0;
  }
  #content .imagen_con_informacion{
    float: none;
    width: 100%;
  }
  #content .imagen_con_informacion .imagen_info{
    min-height: 20px;
    margin: 0;
    overflow: visible;
    width: 100%;
  }
  #content .imagen_con_informacion .info_imagen{
    width: 100%;
  }
  #content .redes_sociales_info{
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
  }
  #content .descripcion_tokio{
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
   header{
    overflow: hidden;
  }
  nav.movil{
    display: block;
    float: right;
    left: 0;
    top:0;
    width: 100%;
    font-size: 2rem;
  }
  nav.movil ul{
    margin: 0;
  }
  nav.movil ul li ul li{
    list-style: none;
    margin: 0 5% 0 0;
  }
  .logo{
    display: block;
    float: none;
    width:100%;
    margin: 0;
  }
  .logo img{
    margin: 0 0 0 10%;
  }
  #content{
    display: block;
    width: 100%;
    margin: 0;
  }
  #content .imagen_con_informacion{
    float: none;
    width: 100%;
  }
  #content .imagen_con_informacion .imagen_info{
    min-height: 20px;
    margin: 0;
    overflow: visible;
    width: 100%;
  }
  #content .imagen_con_informacion .info_imagen{
    width: 100%;
  }
  #content .redes_sociales_info{
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
  }
  #content .descripcion_tokio{
    width: 100%;
  }
}