a{
	color: rgba(236, 240, 241,1.0);
	text-decoration: none;
}
body{
  background: rgba(255,255,255,1);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
header{
	background: rgba(44, 62, 80,1.0);
	height: 100%;
	position: fixed;
	top:0;
	width: 25%;
}
header nav ul li, header nav ul li ul li{
	list-style: none;
	margin: 0 0 .8em 0;
}
header p{
	color: rgba(189, 195, 199,1.0);
	margin: 0;
}
header span{
	color: rgba(236, 240, 241,1.0);
}
section{
	margin: 0 0 0 27%;
}